@media (min-width:450px) {

.main-wrapper {
    max-width:844px;
}

.header {
    flex-direction:row;
    flex-wrap:nowrap;
    align-items:center;
    justify-content:space-between;
}

@media (max-width:610px) {
    .header {
        flex-direction:column;
    }
}

.hero > .text {
    position:relative;
    bottom:0;
    right:0;
}

.hero {
    background-position:right bottom;
}

@media (max-width:800px) {
    .hero {
        padding-left:2rem;
    }
}

@media (max-width:747px) {
    .hero > .text {
        position:absolute;
        bottom:30px;
        right:125px;
    }
}

.s3 {
    padding-left:350px;
    padding-top: 0;
}

@media (max-width:570px) {
    .s3 {
        padding-left:4rem;
        padding-top:500px;
    }
}

}